#form-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--cor01);
}

.form-container-title {
    height: 6vh;
    margin: 35px 0px;
}

.form-title h2 {
    font-family: var(--contrast-font);
    font-weight: 500;
    font-size: 3em;
    color: white;
}

.form-container {
    display: flex;
    width: 80%;
    max-width: 1000px; 
}

.form-box {
    width: 50%;
    padding: 20px;
}

.form-img {
    align-self: center;
    text-align: center;
    width: 50%;
    padding: 10px;
}

.form-img img {
    height: 100%;
    width: 100%;
    border-radius: 8px;
}

.form-input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin-bottom: 25px;
}

.form-input p {
    font-family: var(--font);
    font-size: 20px;
    color: white;
    margin-bottom: 10px;
}

.form-input input {
    height: 30px;
    width: 100%;
    border: 0;
    border-radius: 5px;
    padding: 7px;
}

.form-button {
    display: flex;
    justify-content: center;
    width: 90%;
    margin-top: 40px;
}

.form-button button {
    cursor: pointer;
    font-family: var(--font);
    font-weight: 500;
    font-size: 1.3em;
    color: var(--cor02);
    background-color: var(--cor04);
    width: 70%;
    padding: 10px;
    border: 0;
    border-radius: 10px;
}

@media screen and (max-width: 1024px) { 
    form{
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .form-img {
        display: none;
    }
    
    .form-container {
        display: flex;
        justify-content: center;
        width: 100%;
    } 

    .form-box {
        width: 80%;
    }
}