.about-container h3, p {
    font-family: var(--font)
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5vh;
}

.hero-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    width: 60%;
    height: 100%;
    column-gap: 50px;
    margin-bottom: 10vh;
}

.content-img {
    background-image: url(../assets/imgs/perfil-image-1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 8px;
    height: 600px;
    width: 475px;

}

.about-container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    width: 60%;
}

.about-container h1 {
    font-family: var(--contrast-font);
    font-weight: 500;
    font-size: 2.5em;
    margin-top: 20px;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.164);
}

.about-container h3 {
    opacity: .6;
    font-size: 1.2em;
    margin-top: 20px;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.13);
}

.about-container p {
    text-align: justify;
    font-family: var(--font);
    line-height: 1.8em;
    font-size: 1em;
    margin-top: 40px;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.13);
}

@media screen and (max-width: 378px){
    .hero-container {
        display: flex;
        flex: 1;
        flex-direction: column;
        width: 100%;
        height: 100%;
    }

    .about-container{
        width: 90%;
    }

    .btn{
        display: flex;
        width: 70%;
        height: 100%;
        align-items: center;
        justify-content: center;
        margin-bottom: 10px;
    }

    .conteiner-btn > a{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 50px;
    }
    
    .content-img{
        height: 200px;
        width: 200px;
        margin-bottom: 10px;
        background-image: url(../assets/imgs/perfil-image.png);    
    }
    .about-container h1{
        font-size: 1.5em;
    }
    .about-container h3{
        font-size: 1.1em;
    }
    .about-container p{
        font-size: 1em;
    }
}

@media screen and (min-width: 378px) and (max-width: 768px){
    .hero-container {
        display: flex;
        flex: 1;
        flex-direction: column;
        width: 100%;
        height: 100%;
    }

    .about-container{
        width: 90%;
    }
    
    .content-img{
        background-image: url(../assets/imgs/perfil-image.png); 
        height: 300px;   
        width: 300px;
    }
    .about-container h1{
        font-size: 2.1em;
    }
    .about-container h3{
        font-size: 1.2em;
    }
    .about-container p{
        font-size: 1.1em;
    }
}

@media screen and (min-width: 768px) and (max-width: 1025px){
    .hero-container {
        display: flex;
        flex: 1;
        flex-direction: column;
        width: 90%;
    }

    .about-container{
        width: 90%;
    }
    
    .content-img{
        background-image: url(../assets/imgs/perfil-image.png);   
        height: 400px;
        width: 400px;
    }

    .about-container h1{
        font-size: 2.5em;
    }
    .about-container h3{
        font-size: 1.4em;
    }
    .about-container p{
        font-size: 1.2em;
    }
    
}


@media screen and (min-width: 1025px) and (max-width: 1300px) {    
    .hero-container {
        display: flex;
        flex: 1;
        flex-direction: row;
        width: 60%;
    }  
}
