.about-container h3, p {
    font-family: var(--font)
}


.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 95vh;
}

.hero-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    width: 60%;
    height: 90%;
    column-gap: 100px;
}

.content-img {
    top: 0px;
    left: 0px;
    background-image: url(../assets/imgs/perfil-image.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 8px;
    height: 80%;
    width: 70%;
    min-width: 50%;
}

.about-container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    width: 80%;
}

.about-container h1 {
    font-family: var(--contrast-font);
    font-weight: 500;
    font-size: 3em;
    margin-top: 20px;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.384);
}

.about-container h3 {
    opacity: .6;
    font-size: 1.4em;
    margin-top: 20px;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.178);
}

.about-container p {
    text-align: justify;
    font-family: var(--font);
    line-height: 1.8em;
    font-size: 1.2em;
    margin-top: 40px;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.178);
}

@media screen and (max-width: 378px){
    .hero{
        height: 150vh;
    }
    .hero-container {
        display: flex;
        flex: 1;
        flex-direction: column;
        width: 100%;
    }
    
    .content-img{
        max-height: 350px;
        min-height: 300px;
        max-width: 250px;
        min-width: 200px;
        margin-bottom: 20px;
    }
    .about-container h1{
        font-size: 2em;
    }
    .about-container h3{
        font-size: 1.1em;
    }
    .about-container p{
        font-size: 1em;
    }
}

@media screen and (min-width: 378px) and (max-width: 768px){
    .hero{
        height: 120vh;
    }
    .hero-container {
        display: flex;
        flex: 1;
        flex-direction: column;
        width: 90%;
    }
    
    .content-img{
        max-height: 450px;
        min-height: 400px;
        max-width: 350px;
        min-width: 300px;
        margin-bottom: 20px;
    }
    .about-container h1{
        font-size: 2.1em;
    }
    .about-container h3{
        font-size: 1.2em;
    }
    .about-container p{
        font-size: 1.1em;
    }
}

@media screen and (min-width: 768px) and (max-width: 1025px){
    .hero{
        height: 105vh;
    }
    .hero-container {
        display: flex;
        flex: 1;
        flex-direction: column;
        width: 80%;
    }
    
    .content-img{
        margin-bottom: 20px;
        min-height: 300px;
        max-height: 500px;
        min-width: 300px;
        max-width: 500px;
    }
    
}


@media screen and (min-width: 1025px) and (max-width: 1300px) {    
    .hero-container {
        display: flex;
        flex: 1;
        flex-direction: row;
        width: 60%;
    }
    
    .content-img{      
        min-height: 60%; 
        max-height: 80%;
        min-width: 60%; 
              
    }
    
}
