@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Freeman&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: 0;
    scroll-behavior: smooth;
}

:root {
    --cor01:#222831;
    --cor02: #393e49;
    --cor03: #00adb5;
    --cor04: #00fff5;
    --font: "Inter", sans-serif;
    --contrast-font: "Freeman", sans-serif;
}    

a {
    cursor: pointer;
    text-decoration: none;
}

.btn{
    cursor: pointer;
    
    font-family: var(--font);
    color: white;
    font-size: 1.2em;
    background-color: var(--cor03);
    box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.267);
    
    /* short-hand em ordem trasition: ... */
    /* transition-property: transform;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    transition-delay: 0s; */

    font-weight: 700;
    margin-top: 40px;
    padding: 15px 100px;
    border: 0;
    border-radius: 5px;
    align-self: center;
    transition: all 0.3s;
}

.btn:hover{
    transform: translateY(-3px);
    background-color: var(--cor04);
    color: black;
}

.horizontal-row{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    width: 100%;
}

.row{
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.377);
    background-color: #00adb5;
    height: 1px;
    width: 90%;
}

.conteiner-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
}

.conteiner-btn > a{
    display: flex;
    height: 10px;
}